@import "variables"
@import "side-bar-nav"
@import "header"
@import "page-content"
@import "tree-nav"
@import "mobile-tabs"


h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p, a, li {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
  padding: 10px 0;
}

a {
  color: ups-teal;
  
  &:hover,
  &:active,
  &:visited {
    color: ups-teal;
  }
}

p {
  font-size: 12px;
  font-weight: normal;
  color: #291610;
}

main[class^="col-"] {
  padding: 0;
}

#sidebar {
  height: 100vh;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}

div.row {
 margin-left: 0px;
 margin-right: 0px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width screen-sm-min) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

}