main {
	img {
		@extend .img-responsive;
		width: 100%;
		padding: 10px 0;
	}
}

.page__mobile_tabs {
	background-color: ups-grey;
	
	img {
		max-width: 320px;
	}
}
	
.page_header {
	background-color: ups-brown;
	color: h1-white;
	padding: 20px 10px;
	
	h1 {
		font-family: Guardian_Egypt_Light;
	}
}

#page_content, .page__mobile_tabs {
	padding: 17px 10px;
}

.page__change_log {
	padding: 0 10px 17px;
	
	h2 {
		display: inline-block;
	}
	
	small {
		padding-left: 5px;
	}
	

	&> div {
	  border-top: 1px solid change-history-border-color;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width screen-sm-min) {
	.page_header {
	  padding 20px 50px
	}

	#page_content, .page__change_log {
	  padding 0 50px 30px
	}
	
	.page__change_log > div {
	  border-top: 2px solid change-history-border-color;
	}
	
}