.drawer {
  z-index: 999;
  left: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: calc(100% - 76px);
}

.drawer-enter {
  left: -100px;
  transition: .5s;
}

.drawer-enter.drawer-enter-active {
  left: 0px;
}

.drawer-leave {
  left: 0px;
  transition: .5s;
}

.drawer-leave.drawer-leave-active {
  left: -100px;
}

#sidebar, #sidebar_inner, #sidebar_header {
  background-color: ups-tan;
}

#sidebar 
  padding: 0;

#search_input
  i
    color search-icon-color
    
  input 
    font-family: Arial, sans-serif;
    border: none;
    width: 100%;

    &:focus 
      outline: none;

#sidebar_header 
  background-color: ups-tan;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  overflow-y: auto;
  
  i
    font-size: 40px;
    vertical-align: middle;
    padding-right: 18px;
    color: ups-brown;
  
  img, h2 
    display: inline-block;
  
  h2 
    padding-left: 15px;
    font-family: Guardian_Egyp_Regular;


/* Small devices (tablets, 768px and up) */
@media (min-width screen-sm-min) 
  #search_input 
    position relative
    
    input 
      font-size 14px
    
  .search_icon 
    position absolute
    top 0
    right 10px
    
@media (min-width screen-md-min)
  #sidebar_inner 
    height: 100vh;
  
  #sidebar_header
    position: relative;
    overflow-y: visible;
      
  .drawer {
    position: relative;
    height: 100vh;
  }

  i
    display: none;
  
