#sidebar {
  background-color: ups-tan;
  padding: 15px;
  
  #sidebar_header {
    padding-bottom: 35px;
    
    img, h4 {
        display: inline-block;
    }
    
    h4 {
        padding-left: 15px;
    }
  }
}