@import "variables"
@import "side-bar-nav"
@import "header"
@import "page-content"

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 23px;
}

p {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #291610;
}

main[class^="col-"] {
  padding: 0;
}

html, body, #sidebar, #content {
  height: 100vh;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}


.tree-view-node-collapse-toggle {
    float: right;
}

/*

<classNamePrefix>-root

The outer container

*/
.tree-view-root {}

/*

<classNamePrefix>-root

The outer container for a single node

*/
.tree-view-node {
    margin-left: 10px;
}


/*

<classNamePrefix>-node-collapse-toggle.collapse-spacer

Used to provide spacing when a parent node has no children

*/
.tree-view-node-collapse-toggle.collapse-spacer {
    width: 14px;
    display: inline-block;
}

/*
<classNamePrefix>-node-collapse-toggle.<expandIconClass>

The class to use for the icon that expands a collapsed parent node

*/


/*

<classNamePrefix>-node-collapse-toggle.<collapseIconClass>

The class to use for the icon that collapses an expanded parent node

*/

.tree-view-node-collapse-toggle {
    margin-right: 3px;
    width: 14px;
}

/*

<classNamePrefix>-node-label

*/
.tree-view-node-label {
    margin-left: 3px;
    padding: 1px;
}

/*

<classNamePrefix>-node-label.selected

*/
.tree-view-node-label.selected {
    background-color: menu-item-selected;
    width: 100%;
}

/*

<classNamePrefix>-node-checkbox

The class for a node checkbox

*/

.tree-view-node-checkbox {}

/*

<classNamePrefix>-node-children

The class for the element that wraps a nodes children (if any exist)

*/

.tree-view-node-children {}
	
