@import "variables"
@import "side-bar-nav"
@import "header"
@import "page-content"
@import "tree-nav"

@import "global-tablet-styles"

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
  padding: 10px 0;
}

a {
  color: ups-teal;
  
  &:hover,
  &:active,
  &:visited {
    color: ups-teal;
  }
}

p {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #291610;
}

main[class^="col-"] {
  padding: 0;
}

html, body, #sidebar, #content {
  height: 100vh;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}