screen-sm-min = 768px

ups-tan = #e7d3c0
ups-gold = #ffb511
ups-brown = #351c15
ups-teal = #40c1ac
ups-grey = #f2f2f1
ups-aqua = #33b0ca
change-history-border-color = #795a47
mobile-tab-default-color = #959595

search-icon-color = #ababa9

h1-white = #edded0


menu-item-selected = #f3e9df
menu-item-font-color = #664836

@font-face
   font-family Guardian_Egypt_Light
   src url(../fonts/GuardianEgyp-Light-Web.ttf)
   
@font-face
   font-family Guardian_Egypt_Regular
   src url(../fonts/GuardianEgyp-Regular-Web.ttf)
   
@font-face
   font-family Guardian_Egypt_Bold
   src url(../fonts/GuardianEgyp-Bold-Web.ttf)

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}