screen-sm-min = 768px

ups-tan = #e7d3c0
ups-gold = #ffb511
ups-brown = #351c15
ups-teal = #40c1ac
h1-white = #edded0


menu-item-selected = #f3e9df
menu-item-font-color = #664836

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}